<div class="row recent-work ">
    <div class="container" style="width: 1250px !important;">
        <!-- <div class="row" style="margin: -22px 0 30px 0;">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box" style="margin-bottom: 18px !important;">
                <h2>PRO<strong>GRAMAS</strong></h2>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                {% for row in rows %}
                    {{ row.content }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
