<div class="row">
    <div class="col-md-12 ">
        <h3 class="text-center" style="text-transform: uppercase;">Listado de Documentos</h3>
        <div class="goods-page">
            <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                    <table summary="Shopping cart">
                        <tr>
                            <th class="goods-page-image">No.</th>
                            <th class="goods-page-description">Título</th>
                            <th class="goods-page-stock">Descripción</th>
                            <th class="goods-page-price" colspan="2">Documento</th>
                        </tr>
                        {% for row in rows %}
                            {{ row.content }}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



